body {
    background-color: #a0c1f3; 

    }

  h1{
    position: relative;
    text-align: center;
    top: 30px;
  }  

#header {
  background-color:#a0c1f3; 
  height: 100px;
}

#container {
	background-color: white;
	width: 1310px;
  
	margin-left: 5px;
	margin-right: auto;
  margin-top: auto;
}    

#tag{
  margin-bottom: 20px;
  margin-left: 30px;
  color: red;
}

#header {
       text-align: center;
       background:#a0c1f3;
      size: 50px;
      margin-top: 20px;
    }

#nav{
  background-color: white;
  width: 200px;
 margin-left: 20px;
}


#list{
  font-size: 15px;
  text-decoration: none;
}


#main{
  
  position: relative;
  bottom: 50px;
  margin-left: 250px;
  padding-bottom: 10px;
  margin-top: 10px;

}

#caption{
  position: relative;
  bottom: 40px;
  left: 20px;
  font-size: 30px;
  color:  #a0c1f3;
}

a:link
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}
a:visited
{
  color:red;
}